<div class="pt-3 conatiner">
  <div class="text-center pt-4" style="color: rgb(44, 62, 80)">
    <h2 class="text-uppercase mb-3 fs-1 fw-bolder">contact section</h2>
    <div class="d-flex align-items-center justify-content-center mb-3">
      <div class="line me-3" style="background-color: rgb(44, 62, 80)"></div>
      <i class="fa-solid fa-star"></i>
      <div class="line ms-3" style="background-color: rgb(44, 62, 80)"></div>
    </div>
  </div>
  <form novalidate="" action="" class="w-50 p-3 mx-auto mt-5">
    <label for="userName" class="position-relative top-0 top"
      >userName : </label
    ><input
      id="userName"
      type="text"
      placeholder="userName"
      name="userName"
      class="form-control border-0 border-bottom py-3 position-relative"
    /><label for="userAge" class="position-relative top-0 top"
      >userAge : </label
    ><input
      id="userAge"
      type="text"
      placeholder="userAge"
      name="userName"
      class="form-control border-0 border-bottom py-3 position-relative"
    /><label for="userEmail" class="position-relative top-0 top"
      >userEmail : </label
    ><input
      id="userEmail"
      type="text"
      placeholder="userEmail"
      name="userName"
      class="form-control border-0 border-bottom py-3 position-relative"
    /><label for="userPassword" class="position-relative top-0 top"
      >userPassword : </label
    ><input
      id="userPassword"
      type="text"
      placeholder="userPassword"
      name="userName"
      class="form-control border-0 border-bottom py-3 position-relative"
    /><button class="btn mt-4 text-white" style="background-color: #1abc9c">
      Send Message
    </button>
  </form>
</div>
