<div class="about text-white d-flex justify-content-center align-items-center">
  <div>
    <div>
      <div class="text-center pt-4" style="color: white">
        <h2 class="text-uppercase mb-3 fs-1 fw-bolder">about me</h2>
        <div class="d-flex align-items-center justify-content-center mb-3">
          <div class="line me-3" style="background-color: white"></div>
          <i class="fa-solid fa-star"></i>
          <div class="line ms-3" style="background-color: white"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row px-5">
        <div class="col-md-6 ps-md-5">
          <p>
            I am a web developer with a passion for creating user-friendly
            websites. I have a strong background in Angular and have experience
            working with various front-end frameworks and technologies. I am
            constantly learning and improving my skills to stay at the forefront
            of web development.
          </p>
        </div>
        <div class="col-md-6 pe-5">
          <p>
            <b>Frontend:</b> HTML, CSS, JS, Angular, Bootstrap, Tailwind,
            TypeScript. <br />
            <b>Backend:</b> .Net, C#, ASP.NET, SQL Server, Entity Framework,
            ASP.NET Core. <br />
            <b>Database:</b> SQL Server, MySQL, PostgreSQL. <br />
            <b>Tools:</b> Visual Studio, Git, Docker.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
