<nav class="navbar navbar-expand-lg fixed-top" [class]="isScrolled?'py-1':'py-4'">
  <div class="container">
    <a
      routerlink="/"
      class="navbar-brand text-white text-uppercase fw-bolder fs-2"
      href="#/"
      >Start Framework </a
    ><button
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" class="navbar-collapse collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a
            routerLinkActive="active rounded-3"
            routerLink="about"
            class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2 active rounded-3"
            style="width: fit-content"
            >about</a
          >
        </li>
        <li class="nav-item me-3">
          <a
            routerLinkActive="active rounded-3"
            routerLink="portfolio"
            class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2"
            style="width: fit-content"
            >portfolio</a
          >
        </li>
        <li class="nav-item me-3">
          <a
            routerLinkActive="active rounded-3"
            routerLink="contact"
            class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2"
            style="width: fit-content"
            >contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
