.layer {
  background-color: #1abc9ce6;
  opacity: 0;
  cursor: pointer;
  transition: 0.6s opacity;
}
.layer:hover {
  opacity: 1;
}
.model {
  z-index: 9999;
}
img {
  width: 600px;
}

.close-btn {
  cursor: pointer;
  padding: 10px;
}